@font-face {font-family:Montserrat;
  src:url("/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;}

@font-face {font-family:Montserrat-Black;
  src:url("/fonts/Montserrat-Black.ttf");
  font-weight: normal;
  font-style: normal;}

@font-face {font-family:Montserrat-BlackItalic;
  src:url("/fonts/Montserrat-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;}

@font-face {font-family:Montserrat-Italic;
  src:url("/fonts/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: normal;}

@font-face {font-family:Montserrat-ExtraLightItalic;
  src:url("/fonts/Montserrat-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: normal;}

@font-face {font-family:Montserrat-Italic;
  src:url("/fonts/Montserrat-Italic.ttf");
  font-weight: normal;
  font-style: normal;}

@font-face {font-family:Montserrat-Italic;
src:url("/fonts/Montserrat-LightItalic.ttf");
font-weight: light;
font-style: normal;}

@font-face {font-family:Montserrat-MediumItalic;
  src:url("/fonts/Montserrat-MediumItalic.ttf");
  font-weight: normal;
  font-style: normal;}

@font-face {font-family:Montserrat-Italic;
  src:url("/fonts/Montserrat-SemiBoldItalic.ttf");
  font-weight: 500;
  font-style: normal;}

@font-face {font-family:Montserrat-Medium;
  src:url("/fonts/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;}

@font-face {font-family:Montserrat;
  src:url("/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;}

@font-face {font-family:Montserrat_ExtraBold;
  src:url("/fonts/Montserrat-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;}

@font-face {font-family:Montserrat;
  src:url("/fonts/Montserrat-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;}

@font-face {font-family:Montserrat;
  src:url("/fonts/Montserrat-Light.ttf");
  font-weight: light;
  font-style: normal;}

@font-face {font-family:Montserrat_thin;
  src:url("/fonts/Montserrat-Thin.ttf");
  font-weight: normal;
  font-style: normal;}



@font-face {font-family:Roboto;
  src:url("/fonts/Roboto-Regular_0.ttf");
  font-weight: normal;
  font-style: normal;}
@font-face {font-family:Roboto_Light;
  src:url("/fonts/Roboto-Light_0.ttf");
  font-weight: normal;
  font-style: normal;}
@font-face {font-family:Roboto_Medium;
  src:url("/fonts/Roboto-Medium_0.ttf");
  font-weight: normal;
  font-style: normal;}
@font-face {font-family:Roboto;
  src:url("/fonts/Roboto-Bold_0.ttf");
  font-weight: bold;
  font-style: normal;}
@font-face {font-family:Roboto_thin;
  src:url("/fonts/Roboto-Thin_0.ttf");
  font-weight: normal;
  font-style: normal;}
